<%= render :partial => 'project_hooks/header' %>
<% hooks.each do |hook| %>
  <tr>
    <td></td>
    <td align="center"><%= hook.branches.join(', ') %></td>
    <td align="center"><%= hook.keywords.join(', ') %></td>
    <td align="center"><%= hook.new_status ? hook.new_status.name : nil %></td>
    <td align="center"><%= hook.new_done_ratio %></td>
    <td></td>
    <td></td>
  </tr>
<% end %>
