<%= render :partial => 'project_hooks/header' %>
<% hooks.each do |hook| %>
  <tr>
    <td align="center"><%= hook.repository.try(:name) %> </td>
    <td align="center"><%= hook.branches.join(', ') %></td>
    <td align="center"><%= hook.keywords.join(', ') %></td>
    <td align="center"><%= hook.status ? hook.status.name : nil %></td>
    <td align="center"><%= hook.done_ratio %></td>
    <td align="center"><%= hook.assigned_to %></td>
    <td align="center">
      <%= reorder_links('project_hook', {
          :controller => 'project_hooks',
          :action => 'update',
          :project_id => project.id,
          :id => hook.id
      }, :put) %>
    </td>
    <td class="buttons">
      <%= link_to_if_authorized(l(:button_edit),
                                {
                                    :controller => 'project_hooks',
                                    :action => 'edit',
                                    :project_id => project.id,
                                    :id => hook.id
                                },
                                :class => 'icon icon-edit') %>

      <%= link_to_if_authorized(l(:button_delete),
                                {
                                    :controller => 'project_hooks',
                                    :action => 'destroy',
                                    :project_id => project.id,
                                    :id => hook.id
                                },
                                :method  => :delete,
                                :confirm => l(:text_are_you_sure),
                                :class   => 'icon icon-del') %>
    </td>
  </tr>
<% end %>
