<%= render :partial => 'project_hooks/header' %>
<% hooks.each do |hook| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td align="center"><%= hook.repository.try(:name) %> </td>
    <td align="center"><%= hook_column_content(:branches, hook) %></td>
    <td align="center"><%= hook_column_content(:keywords, hook) %></td>
    <td align="center"><%= hook_column_content(:status, hook) %></td>
    <td align="center"><%= hook_column_content(:done_ratio, hook) %></td>
    <td align="center"><%= hook_column_content(:assigned_to, hook) %></td>
    <td align="left">
      <% hook.custom_field_values.each do |value| %>
        <% next if value.value_blank? %>
        <p><%= h(value.custom_field.name) %>:
          <span class="hook-field-value"><%= show_value(value) %></span>
        </p>
      <% end -%>
    </td>
    <td align="center">
      <%= reorder_links('project_hook', {
          :controller => 'project_hooks',
          :action => 'update',
          :project_id => project.id,
          :id => hook.id
      }, :put) %>
    </td>
    <td class="buttons">
      <%= link_to_if_authorized(l(:button_edit),
                                {
                                    :controller => 'project_hooks',
                                    :action => 'edit',
                                    :project_id => project.id,
                                    :id => hook.id
                                },
                                :class => 'icon icon-edit') %>

      <%= link_to_if_authorized(l(:button_delete),
                                {
                                    :controller => 'project_hooks',
                                    :action => 'destroy',
                                    :project_id => project.id,
                                    :id => hook.id
                                },
                                :method  => :delete,
                                :confirm => l(:text_are_you_sure),
                                :class   => 'icon icon-del') %>
    </td>
  </tr>
<% end %>
