<h1><%= l(:label_remote_repo_sites) %></h1>
<% if remote_repo_sites.any? %>
  <% remote_repo_sites.sort.each do |site| %>
  <h2><%= site.server_name %></h2>
    <%= link_to site.uri, site.uri, :target => '_blank' %><br>
    <%= l(:field_created_on) %>: <%= site.created_at %><br>
  <table class="list">
    <thead>
    <tr>
      <th><%= l(:label_remote_repo) %></th>
      <th><%= l(:field_created_on) %></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% site.repos.each do |repo| %>
      <tr class="<%= cycle 'odd', 'even' %>">
        <td>
          <%= link_to repo.uri, repo.uri, :target => '_blank' %>
        </td>
        <td>
          <%= repo.created_at %>
        </td>
        <td class="buttons">
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% end %>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
