<h1><%= remote_repo_site.server_name %></h1>

<h3><%= l(:label_remote_repositories) %></h3>
<% if remote_repo_site.repos.any? %>
  <table class="list">
    <thead>
    <tr>
      <th><%= l(:label_associated_remote_repository) %></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% remote_repo_site.repos.each do |remote_repo| %>
      <tr class="<%= cycle 'odd', 'even' %>">
        <td>
          <%= link_to remote_repo.path_to_repo, remote_repo.uri, :target => '_blank' %>
        </td>
        <td class="buttons">
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
